<div class="page-error">

    <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-12">
                  <h1> ERROR SERVER </h1>
                  <h3> Servidor indisponível ...</h3>
                  <p> Favor entrar em contato com o suporte
                  </p>
                  <a [routerLink]="['/login']" class="btn btn-danger"  style="width: 100%;">Voltar</a>
              </div>
              
                  
          </div>
    </div>

</div>