<header>

		<div class="container">
			<div class="row">
				<div class="col-md-6">
           <span class="text-center">
            
             <span class="title-logo"> P R E F E I T U R A  DO </span> <br>
             <span class="title-sub-logo"> R E C I F E </span> <br>
             <span class="title-logo">SECRETARIA DE SAÚDE</span> <br>
             DISTRITO SANITÁRIO V<br>
             <b>CAPS – AD ESPAÇO TRAVESSIA RENÉ RIBEIRO</b>
          </span>

        </div>
				<div class="col-md-6">
					<nav>
						<ul class="nav nav-tabs">
							<li class="nav-item"><a href="#" class="nav-link active">Início</a></li>
							<li class="nav-item"><a routerLink="/new" class="nav-link">Perfil</a></li>
							<li class="nav-item"><a href="#" class="nav-link">Sair</a></li>
						</ul>
						<div class="alert alert-info" role="alert">
							<strong>Usuário Logado:</strong> 
              Usuário Logado 
              <br> 
              <strong>Data Atual:</strong>
							"DD/MM/YYYY"
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>