<div class="modal fade" id="modal-add-screening-date">
  <div class="modal-dialog" role="document">
   
    <div class="modal-content"> 
      <div class="modal-header">
        <h5 class="modal-title"> Nova data de triagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       {{formDate.valid}}{{formDate.value|json}}
      <form #formDate="ngForm" novalidate>
        <div class="modal-body">
         
          <div class="col-sm-12 col-md-12">
             <cps-input-container [isIcon]="false" materialIcon="" label="Inserir nova data:" errorMsg="Campo Obrigatório">
							<input id="screeningDate" type="text" class="form-control form-control-warning form-control-success" name="date" ngModel  required minlength="10" maxlength="10" />  
						</cps-input-container>	
            </div>
        </div>
        <div class="modal-footer">
          <button  (click)="addNewDate(formDate.value)" class="btn btn-primary" style="width: 100%;" data-dismiss="modal"  [disabled] ="!formDate.valid">Salvar</button>
          <a href="#" class="btn btn-danger" style="width: 100%;" data-dismiss="modal">Fechar</a>
        </div>
      </form> 
    </div>

  </div>
</div>




