<div class="modal fade" id="modalDelete{{usuario?.id}}">
  <div class="modal-dialog" role="document">
   
    <div class="modal-content" ng-if="typeModal==MODAL_DELETE"> 
      <div class="modal-header">
        <h5 class="modal-title">Deseja remover o usuário:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> 
            Usuário:
            {{usuario?.nome}}
        </p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-success">Sim</a>
        <a href="#" class="btn btn-danger" data-dismiss="modal">Não</a>
      </div>
    </div>

  </div>
</div>




