
		<div class="container-fluid">
		
		<div class="row">
      <div class="col-sm-12 col-md-4"> </div>
			<div class="col-sm-12 col-md-4" class="text-center">
			    <span class="text-center">
            
             <span class="title-logo"> P R E F E I T U R A  DO </span> <br>
             <span class="title-sub-logo"> R E C I F E </span> <br>
             <span class="title-logo">SECRETARIA DE SAÚDE</span> <br>
             DISTRITO SANITÁRIO V<br>
             <b>CAPS – AD ESPAÇO TRAVESSIA RENÉ RIBEIRO</b>
          </span>
			</div>
			
		</div>
		<hr>
		<form>
			<div class="row">
				<div class="col-sm-12 col-md-4"> </div>
				<div class="col-sm-12 col-md-4">
					<div class="form-group">
						<label for="login"> Login/Email </label>
						<input id="login" type="text" class="form-control" name="username" [(ngModel)]="username">
					</div>
					<div class="form-group">
						<label for="senha"> Senha </label>
						<input id="senha" type="password" class="form-control" name="password" [(ngModel)]="password">
					</div>
					<button type="submit" class="btn btn-primary" style="width: 50%;" (click)="go()">Entrar</button>
				</div>
			
			</div>	
		</form>		
		</div>
	

	