
		<div class="container-fluid">
		
		<div class="row">
      <div class="col-sm-12 col-md-4"> </div>
			<div class="col-sm-12 col-md-4" class="text-center">
			    <span class="text-center">
            
             <span class="title-logo"> P R E F E I T U R A  DO </span> <br>
             <span class="title-sub-logo"> R E C I F E </span> <br>
             <span class="title-logo">SECRETARIA DE SAÚDE</span> <br>
             DISTRITO SANITÁRIO V<br>
             <b>CAPS – AD ESPAÇO TRAVESSIA RENÉ RIBEIRO</b>
          </span>
			</div>
			
		</div>
		<hr>
		{{form.valid}} {{form.value | json}}
		<form novalidate #form="ngForm">
			<div class="row">
				<div class="col-sm-12 col-md-4"> </div>
				<div class="col-sm-12 col-md-4">
					<cps-input-container label="Login/E-mail" errorMsg="O login deve ser informado">
						<input [(ngModel)]="username" type="text" class="form-control form-control-danger form-control-success" name="username" ngModel  required  minlength="5">  
					</cps-input-container>
					
					<cps-input-container label="Senha" errorMsg="A senha deve ser informada">
						<input  [(ngModel)]="password" type="password" class="form-control form-control-danger form-control-success" name="password" ngModel  required  minlength="8">  
					</cps-input-container>
					
					<button type="submit" class="btn btn-primary" style="width: 50%;" (click)="go()">Entrar</button>
				</div>
			
			</div>	
		</form>		
		</div>

		<!--
			NgModel directives:
			Valid 	 | Invalid
			Pristine | Dirty  	- Quando um campo deixa de ter um estado inicial deixa de ser Pristine e passa a ser Dirty
			Toutch 	 | Untouch  - Quando o usuario entra no campo passa a ser Toutch

			CSS:
			NG-Valid  	| NG-Invalid
			NG-Pristine | NG-Dirty
			NG-Toutch 	| NG-Untouch
			 

		-->

		
		<!--
			NgModel Validators:
			
			* Required
			* Pattern - RegEx
			* minLength
			* maxLength
		-->
	

	