		<div class="container fluid">
		<form method="POST" action="{{actionPathUrl}}">
			<div class="panel panel-default">
				<div class="panel-heading">
	    			<h3 class="panel-title">Dados do usuário</h3>
	  			</div>
				
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<label for="inputNome">
							<i class="material-icons">&#xE851;</i>
							Nome do usuário
						</label>
						
           				 <input type="text" name="nome" class="form-control"  [value]="usuario?.nome"  required />	
							
					</div>
					
					<div class="col-sm-12 col-md-6">
						<div class="form-group">
							<label for="inputNomeMae">
									<i class="material-icons">&#xE853;</i>
									Nome da mãe
							</label>
							<input type="text" name="nomeMae" class="form-control"  [value]="usuario?.nomeMae" />	
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="form-group">
							<label for="inputDataNascimento">
									<i class="material-icons">&#xE916;</i>
									Data de nascimento
							</label>
						
							<input type="text" name="dataNascimento" class="form-control date cadastro" [value]="usuario?.dataNascimento"  required/>	
							
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="form-group">
							<label for="inputNuProtuario">
								<i class="material-icons">&#xE873;</i>
									Número do prontuário
							</label>
							
						
							<input type="text" name="nuProntuario" class="form-control" [value]="usuario?.nuProntuario" required/>	

						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="form-group">
							<label for="inputNumSus">
									<i class="material-icons">&#xE8F7;</i>
									Número do cartão SUS
							</label>
					
							<input type="text" name="nuCartSus" class="form-control" id="nuCartSus" [value]="usuario?.nuCartSus" />	
						</div>
					</div>
					
          
          			<div class="col-sm-12 col-md-6">
						<div class="form-group">
							<label for="inputLocalArquivo">
									<i class="material-icons">&#xE89B;</i>
									Localização em arquivo
							</label>
					
							<input type="text" name="localEmArquivo" class="form-control" [value]="usuario?.localEmArquivo" required />	
							
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="form-group">
							<label for="inputTipoDroga">
									<i class="material-icons">&#xE6DD;</i>
									Tipo de droga
							</label>
													
							<input type="text" name="tipoDroga" class="form-control" [value]="usuario?.tipoDroga" required/>
							
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="form-group">
							<label for="inputNuTelefone">
									<i class="material-icons">&#xE0B0;</i>
									Telefone
							</label>
							
					 		<input type="text" name="nuTelefone" class="form-control" id="nuTelefone" [value]="usuario?.nuTelefone" />
							
						</div>
					</div>

					<div class="col-sm-12 col-md-6">
						
					</div>
          			
					<div  *ngIf="isColecaoDataTriagem" class="col-sm-12 col-md-6">
						<div class="form-group">
							<!--Colecao de datas chama o modal de datas-->
							 	<button class="btn btn-warning" style="width: 100%;">{{nameButtonDataTriagem}}</button>
						</div>
					</div>

          					
          			<div  *ngIf="!isColecaoDataTriagem" class="col-sm-12 col-md-6">
						<div class="form-group">
							<label for="inputDataTriagem">
									<i class="material-icons">&#xE916;</i>
									Data da triágem
							</label>
							<input type="text" name="dataTriagem" class="form-control date cadastro" required/>	 
						</div>
					</div>
				</div>
		</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
    				<h3 class="panel-title"><i class="material-icons">&#xE0C8;</i>Endereço</h3>
  				</div>
  				
  				<div class="row">
					<div class="col-sm-12 col-md-12">
						<div class="form-group">
							<input name="rua" class="form-control"  placeholder="Rua" [value]="usuario?.endereco.rua"/>
						</div>
					</div>
					<div class="col-sm-12 col-md-12">
						<div class="form-group">
							<input name="complemento" class="form-control"  placeholder="Complemento" [value]="usuario?.endereco.complemento" />
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="form-group">
							<input name="bairro" class="form-control"  placeholder="Bairro" [value]="usuario?.endereco.bairro"/>
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="form-group">
							<input name="cep" class="form-control"  placeholder="Cep" [value]="usuario?.endereco.cep"/>
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="form-group">
              
							<select class="form-control" (change)="ngChange($event.target.value)" [value]="usuario?.endereco.cidade.estado.id">
                  				<option>Estado</option>
								
								<option *ngFor="let estado of colecaoEstados" value="{{estado.id}}">{{estado.nome}}</option> 

             				 </select>
							
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="form-group">


								
							<select class="form-control" [value]="usuario?.endereco.cidade.id">
                  				<option>Cidade</option>
								<option *ngFor="let cidade of colecaoCidades" value="{{cidade.id}}">{{cidade.nome}}</option> 
              				</select>
							
						</div>
					</div>
				</div>
  			</div>		
  			
  			<div class="row">
  				<div class="col-sm-12 col-md-6">
					<button type="button" (click)="eventSubmit()" class="btn btn-primary" style="width: 100%;">{{nameButtonSubmit}}</button>
				</div>
				<div class="col-sm-12 col-md-6">
					<a [routerLink]="['']" class="btn btn-danger"  style="width: 100%;">Voltar</a>
				</div>			
  			</div>					
		</form>
		</div>

