	<cps-header></cps-header>
	<br><br>

		{{form.valid}} {{form.value | json}}
		<div class="container fluid">
		<form method="POST" action="{{actionPathUrl}}" novalidate #form="ngForm">
			<div class="panel panel-default">
				<div class="panel-heading">
	    			<h3 class="panel-title">Dados do usuário</h3>
					
	  			</div>

				<div class="row">
					
					<div class="col-sm-12 col-md-6">	
           				<cps-input-container [isIcon]="true" materialIcon="&#xE853;" label="Nome" errorMsg="Campo Obrigatório">
							<input [ngModel]="name" type="text" class="form-control form-control-warning form-control-success"  name="name" ngModel  required />  
						</cps-input-container>	
					</div>
					
					<div class="col-sm-12 col-md-6">
						<cps-input-container [isIcon]="true" materialIcon="&#xE853;" label="Nome da mãe" errorMsg="Campo Obrigatório">
							<input [ngModel]="motherName" type="text" class="form-control form-control-warning form-control-success" name="motherName" ngModel  required />  
						</cps-input-container>
					</div>
					<div class="col-sm-12 col-md-6">
						<cps-input-container [isIcon]="true" materialIcon="&#xE916;" label="Data de nascimento" errorMsg="Campo Obrigatório">
							<input [ngModel]="dateOfBirth | date: 'MM/dd/yyyy'"  id="dateOfBirth" type="text" class="form-control form-control-warning form-control-success" name="dateOfBirth" ngModel  required maxlength="10" minlength="10" />  
						</cps-input-container>	
					</div>

					<div class="col-sm-12 col-md-6">
						<cps-input-container [isIcon]="true" materialIcon="&#xE873;" label="Número do Prontuário" errorMsg="Campo Obrigatório">
							<input  [ngModel]="nuProntuario" id="nuProntuario" type="text" class="form-control form-control-warning form-control-success" name="nuProntuario" ngModel  required   />  
						</cps-input-container>
					</div>

					<div class="col-sm-12 col-md-6">
						<cps-input-container [isIcon]="true" materialIcon="&#xE8F7;" label="Número do cartão SUS" errorMsg="Campo Obrigatório">
							<input [ngModel]="nuCartSus" id="nuCartSus" type="text" class="form-control form-control-warning form-control-success" name="nuCartSus" ngModel  required   />  
						</cps-input-container>
					</div>
					
          
          			<div class="col-sm-12 col-md-6">
						<cps-input-container [isIcon]="true" materialIcon="&#xE89B;" label="Localização em arquivo" errorMsg="Campo Obrigatório">
							<input [ngModel]="fileLocal | uppercase" type="text" class="form-control form-control-warning form-control-success" name="fileLocal" ngModel  required   />  
						</cps-input-container>
					</div>

					<div class="col-sm-12 col-md-6">
						<cps-input-container [isIcon]="true" materialIcon="&#xE6DD;" label="Tipo de droga" errorMsg="Campo Obrigatório">
							<input [ngModel]="drugType" type="text" class="form-control form-control-warning form-control-success" name="drugType" ngModel  required   />  
						</cps-input-container>
					</div>

					<div class="col-sm-12 col-md-6">
						<cps-input-container [isIcon]="true" materialIcon="&#xE0B0;" label="Telefone" errorMsg="Campo Obrigatório">
							<input [ngModel]="phone" id="phone" type="text" class="form-control form-control-warning form-control-success" name="phone" ngModel  required   />  
						</cps-input-container>
					</div>

					<div class="col-sm-12 col-md-6">
						
					</div>
          			
					<div  *ngIf="isColecaoDataTriagem" class="col-sm-12 col-md-6">
						<div class="form-group">
							<!--Colecao de datas chama o modal de datas-->
							 	<a data-toggle="modal" href="#modal-screening-date{{user?.id}}" class="btn btn-warning" style="width: 100%;">{{nameButtonDataTriagem}}</a>
						</div>
					</div>

          			<div *ngIf="!isColecaoDataTriagem"  class="col-sm-12 col-md-6">
						<cps-input-container [isIcon]="true" materialIcon="&#xE916;" label="Data da triágem" errorMsg="Campo Obrigatório">
							<input [ngModel]="screeningDate | date: 'MM/dd/yyyy'"  id="screeningDate"  type="text" class="form-control form-control-warning form-control-success" name="screeningDate" ngModel maxlength="10" minlength="10"  required  [disabled]="isColecaoDataTriagem" />  
						</cps-input-container>	 
					</div>
				</div>
		</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
    				<h3 class="panel-title"><i class="material-icons">&#xE0C8;</i>Endereço</h3>
  				</div>
  				
  				<div class="row">
					<div class="col-sm-12 col-md-12">
						<cps-input-container [isIcon]="false" errorMsg="Campo Obrigatório">
							<input  [ngModel]="street" type="text" class="form-control form-control-warning form-control-success" placeholder="Rua" name="street" ngModel  required />  
						</cps-input-container>	
					</div>

					<div class="col-sm-12 col-md-12">
						<cps-input-container [isIcon]="false">
							<input [ngModel]="complement" type="text" class="form-control form-control-warning form-control-success" placeholder="Complemento" name="complement" ngModel />  
						</cps-input-container>	
					</div>

					<div class="col-sm-12 col-md-6">
						<cps-input-container [isIcon]="false" errorMsg="Campo Obrigatório">
							<input [ngModel]="district" type="text" class="form-control form-control-warning form-control-success" placeholder="Bairro" name="district" ngModel  required />  
						</cps-input-container>
					</div>

					<div class="col-sm-12 col-md-6">
						<cps-input-container [isIcon]="false" errorMsg="Campo Obrigatório">
							<input  [ngModel]="zipCode" id="zipCode" type="text" class="form-control form-control-warning form-control-success" placeholder="Cep" name="zipCode" ngModel maxlength="9" minlength="9" required />  
						</cps-input-container>
					</div>

					<div class="col-sm-12 col-md-6">
						<div class="form-group">
							
							<select *ngIf="user.address.city.state.id!==undefined" class="form-control" [ngModel]="user.address.city.state.id" (change)="ngChange($event.target.value)"  name="state" ngModel required>
                  				<option value="">Estado</option>
								<option *ngFor="let state of collectionStates" value="{{state.id}}">{{state.description}}</option> 

             				 </select>

							<select *ngIf="user.address.city.state.id===undefined" class="form-control" (change)="ngChange($event.target.value)"  name="state" ngModel required>
                  				<option value="">Estado</option>
								<option *ngFor="let state of collectionStates" value="{{state.id}}">{{state.description}}</option> 

             				 </select>
							
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="form-group">								
							
							<select *ngIf="user.address.city.id===undefined"class="form-control" name="city" ngModel required>
                  				<option value="">Cidade</option>
								<option *ngFor="let city of collectionCity" value="{{city.id}}">{{city.description}}</option> 
              				</select>
							

							<select *ngIf="user.address.city.id!==undefined"class="form-control" [ngModel]="user?.address?.city.id" name="city" ngModel required>
                  				<option value="">Cidade</option>
								<option *ngFor="let city of collectionCity" value="{{city.id}}">{{city.description}}</option> 
              				</select>
							
						</div>
					</div>
				</div>
  			</div>		
  			
  			<div class="row">
  				<div class="col-sm-12 col-md-6">
					<button type="button" (click)="eventSubmit(form.value)" class="btn btn-primary" style="width: 100%;">{{nameButtonSubmit}}</button>
				</div>
				<div class="col-sm-12 col-md-6">
					<a [routerLink]="['']" class="btn btn-danger"  style="width: 100%;">Voltar</a>
				</div>
				<div *ngIf="!isFormValid" class="alert-danger" role="alert">
  						<strong>Formulário inválido!</strong> Favor verificar os campos obrigatórios.
						  <p>Campos obrigatórios possuem o '*' ! </p>
				</div>			
  			</div>					
		</form>
		</div>

	<cps-modal-screening-date
	[user]="user"
	[isButtonNewDate]="true"
	>
	</cps-modal-screening-date>


	<footer style="padding-top: 50px; padding-bottom: 20px;text-align: center">
			 
	</footer>