<div class="modal fade" id="modal-screening-date{{user?.id}}">
  <div class="modal-dialog" role="document">
   
    <div class="modal-content"> 
      <div class="modal-header">
        <h5 class="modal-title">Datas de triagem do usuário: {{user?.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div *ngFor="let date of user?.screeningDate">

        
        <div class="col-sm-12 col-md-12" *ngIf="date.dateText == undefined">
						<div class="form-group">
							<input name="date" class="form-control text-center" disabled [value]= "date.date | date: 'dd/MM/yyyy' " />
						</div>
				</div>

        
        <div class="col-sm-12 col-md-12" *ngIf="date.dateText != undefined">
						<div class="form-group">
							<input name="date" class="form-control text-center" disabled [value]= "date.dateText" />
						</div>
				</div>
        
          
        </div>
      </div>
      <div class="modal-footer">
        <div *ngIf="isButtonNewDate" style="width: 100%;">
          <a data-toggle="modal" href="#modal-add-screening-date" class="btn btn-primary" style="width: 100%;">Nova Data</a>
        </div>
        <a href="#" class="btn btn-danger" style="width: 100%;" data-dismiss="modal">Fechar</a>
      </div>
    </div>

  </div>
</div>

<cps-modal-add-screening-date
  [user]="user"
>

</cps-modal-add-screening-date>




