	<cps-header></cps-header>
	<br><br>
	<div class="container">

		<div class="row">
			<div class="col-sm-12 col-md-6">
				
					
					
					<!--<div>
						${msg}
					</div> -->
					
				
				<!-- <div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Ordenar por:</h3>
					</div>
					<div style="margin: 20px;">
						
						<label class="radio-inline"> 
							<input type="radio"name="radioOptions" id="inlineRadio1" value="nome" checked="checked"> Nome
						</label> 
						
						<label class="radio-inline"> 
							<input type="radio" name="radioOptions" id="inlineRadio2" value="nuProntuario">Nº Prontuário
						</label> 
						
						<label class="radio-inline"> 
							<input type="radio"name="radioOptions" id="inlineRadio3" value="nuCartSus">Nº Sus
						</label> 
						
						<label class="radio-inline"> 
							<input type="radio"name="radioOptions" id="inlineRadio4" value="localArquivo">Localização em arquivo
						</label>
					</div>
				</div> -->
			</div>
			<div class="col-sm-12 col-md-6">
				<a [routerLink]="['/new']"  class="btn btn-primary" style="width: 100%; font-size: 18px"> 
					Novo
				</a> <br> <br> 
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-8">
				

			</div>
		</div>
	
		<br>	<br>	<br>
		
    <div class="row">
			<div class="col-sm-12 col-md-12">
				<table id="tabelaInicio" class="table table-bordered table-hover table-responsive">
					<thead>
						<tr>
							<th>Nome do usuário</th> 
							<th>Nº Prontuário</th>
							<th>Nº SUS</th>
							<th>Localização em arq.</th>
							<th class="text-center">Editar</th>
							<th class="text-center">Visualizar</th>
							<th class="text-center">Excluir</th>
						</tr>
					</thead>

					<tfoot>
						
					</tfoot>

         		 <tbody>
					  
						<!--	<tr *ngFor="let user of listUser">
							<td> {{user.name}} </td>
							<td> {{user.nuProntuario}} </td>
							<td> {{user.nuCartSus}} </td>
							<td> {{user.fileLocal}} </td>
								<td class="text-center">
									<a [routerLink]="['/edit', user.id, user.address.city.state.id]" class="btn btn-primary"> 
										<i class="material-icons">mode_edit</i>
									</a>
               					</td>
								<td class="text-center">
									<a  data-toggle="modal" href="#modal-view{{user.id}}" class="btn btn-info"> 
                   						 <i class="material-icons">visibility</i>
									</a>
								</td>
								<td class="text-center">
									<a data-toggle="modal" href="#modalDelete{{user.id}}" class="btn btn-danger" > 
										<i class="material-icons">delete</i>
									</a>
								</td>
							</tr>-->
         			 </tbody>

					
				</table>
			</div>

		</div>

		<footer>

		</footer>
	</div>

	<div *ngFor="let user of listUser">

		<cps-modal-usuario-delete
			[user] = "user"
		>
		</cps-modal-usuario-delete>	

		<cps-modal-view-user 
			[user]="user"
		>
		</cps-modal-view-user>

	</div>
